:root {
  --basecolor: #f2ecd8;
  --accentblue: #3b848c;
  --accentred: #e32f38;
  --subcolor: #d9cdbf;
  --darkcolor: #260202;

  --mainfont: ta-kotodama-r, sans-serif;
  --accentfont: ta-kai-regular, sans-serif;
  --enfont: garamond-premier-pro, serif;
  --pointfont: fot-klee-pro, sans-serif;
  --shadow-color: #FF9E9E;
  --shadow-color-light: white;
}

@import 'https://fonts.googleapis.com/css?family=Dosis';

i {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: var(--darkcolor);
  transition:all 0.8s;
}
a:hover {
  font-weight: bold;
  color: var(--accentblue);
}

.img-thumbnail {
  background-color: unset;
}

body {
  background-color: var(--basecolor);
}

.wrapper{
  position: relative;
  overflow-x: hidden;
  /* background-color:#0A0B0B; */
  background-color: var(--basecolor);
  font-family: var(--mainfont);
  color: var(--darkcolor);
}

/* TOPとストーリー */
.wrapper-1 {
  position: relative;
  overflow-x: hidden;
  /* background-color:#0A0B0B; */
  background-color: var(--basecolor);
  font-family: var(--mainfont);
  color: var(--darkcolor);
}
.gradient1-2 {
  position: relative;
  min-height: 15vh;
  width: 100%;
  background: rgb(242,236,216);
background: linear-gradient(180deg, rgba(242,236,216,0.7049194677871149) 0%, rgba(38,2,2,1) 100%);
}
/* TICKET */
.wrapper-2 {
  position: relative;
  overflow-x: hidden;
  background-color: var(--darkcolor);
  font-family: var(--subfont);
  color: var(--basecolor);
}

.gradient2-3 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(38,2,2);
  background: linear-gradient(180deg, rgba(38,2,2,1) 0%, rgba(59,132,140,1) 100%);  
}

/* 参加の流れ */
.wrapper-3 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--accentblue);
  font-family: var(--subfont);
  color: var(--basecolor);
}

.gradient3-4 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(59,132,140);
background: linear-gradient(180deg, rgba(59,132,140,1) 0%, rgba(217,205,191,1) 100%);
}

/* タイムライン */
.wrapper-4 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--subcolor);
  font-family: var(--mainfont);
  color: var(--darkcolor);
}
.gradient4-5 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(217,205,191);
background: linear-gradient(180deg, rgba(217,205,191,1) 0%, rgba(242,236,216,1) 100%);
}
/* Info */
.wrapper-5 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--basecolor);
  font-family: var(--mainfont);
  color: var(--accentblue);
}

.gradient5-6 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(242,236,216);
background: linear-gradient(180deg, rgba(242,236,216,1) 0%, rgba(59,132,140,1) 100%);
}

/* Aeccess */
.wrapper-6 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--accentblue);
  font-family: var(--mainfont);
  color: var(--basecolor);
}

.gradient6-7 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(59,132,140);
background: linear-gradient(180deg, rgba(59,132,140,1) 0%, rgba(38,2,2,1) 100%);
  
}

/* DRINK/GOODS */
.wrapper-7 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--darkcolor);
  font-family: var(--mainfont);
  color: var(--basecolor);
}

.gradient7-8 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(38,2,2);
background: linear-gradient(180deg, rgba(38,2,2,1) 0%, rgba(227,47,56,1) 100%);
}

/* NOTICE */
.wrapper-8 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--accentred);
  font-family: var(--mainfont);
  color: var(--basecolor);
}

.gradient8-9 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(227,47,56);
background: linear-gradient(180deg, rgba(227,47,56,1) 0%, rgba(59,132,140,1) 100%);
}

/* 注意事項: チケットに関してから */
.wrapper-9 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--accentblue);
  font-family: var(--mainfont);
  color: var(--basecolor);
}
.gradient9-10 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(59,132,140);
background: linear-gradient(180deg, rgba(59,132,140,1) 0%, rgba(242,236,216,1) 100%);
}
/* ABOUT & SHARE*/
.wrapper-10 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--basecolor);
  font-family: var(--mainfont);
  color: var(--accentred);
}

.gradient10-11 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(242,236,216);
background: linear-gradient(180deg, rgba(242,236,216,1) 0%, rgba(227,47,56,1) 100%);
}

/* FOOTER */
.wrapper-11 {
  position: relative;
  overflow-x: hidden;
  background-color:var(--accentred);
  font-family: var(--mainfont);
  color: var(--basecolor);
}
.gradient11-12 {
  position: relative;
  min-height: 10vh;
  width: 100%;
  background: rgb(227,47,56);
background: linear-gradient(180deg, rgba(227,47,56,1) 0%, rgba(38,2,2,1) 100%);
}



#home-heading {
  position: relative;
  min-height: 100vh;
  
  /* height: 100%; */
  /* background: url('../effect/hero-background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat; */
  /* text-align: center; */
  /* color: var(--accentblue); */
}


#home-heading p {
  font-size: 1rem;
  font-family: var(--accentfont);
  color: var(--accentred);
  line-height: 280%;
}

/* 看板 ANEMONE SIGN */
/* https://codepen.io/pen/ */
.kanban {
  /* text-align: center; */
  /* width: 30%; */
  /* height: 150px; */
  /* margin: auto; */
  /* position: absolute; */
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  /* user-select: none; */
}

/* .kanban b{
  font-size: 2.5rem;

  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.kanban b span{
  animation: blink linear infinite 2s;
}
.kanban b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
} */


/* #neon p {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
} */

/* .neon-1 {
  color: white;
  animation: neon 1s infinite;
} */

/* @keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
    0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }
  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
    0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
    0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
} */

.dark-overlay {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background: rgba(0, 0, 0); */
  /* background:var(--accentred);
  mix-blend-mode: hard-light; */
}
/* .dark-overlay h1, .dark-overlay p{
  color: #000;
} */


/* TICKET */




/* タイムライン */
.timeline {
  font-size: 2rem;
}
table td {
  border-top: var(--darkcolor);
}
th.modify-border{
  border-top: 0px none;
}

td.modify-border{
  border-top: 0px none;
}



/* corona warning part */
/* .img-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 315px;
  height: 315px;
  perspective: 300px;
}

.img-wrapper {
  position: relative;
  z-index: 1;
  height: 100%;
  background: #161616;
  overflow: hidden;
  transform-style: preserve-3d;
}

.img-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;

}

.img-holder {
  transform: scale(1.4);
  width: 100%;
  height: 100%;
}

.hero-img-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;

}

.img-title h1 {
  color: transparent;
  letter-spacing: 12px;
  font-size: 36px;
  -webkit-text-stroke: 2px white;
  text-transform: uppercase;
} */

/* 
.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; } */


  /* GOODS/BAG */
  #goods h3.pretext{
    /* position: absolute; */
    position: relative;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    font-size:5rem;
    letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow: 
              8px 8px #ff1f8f,
              20px 20px #000000;
  }
  #corona-img {
    padding: 0;
    border: 0;
  }

  
.accordion {
  cursor: pointer;
  /* border: none; */
}

.menu {
  border: none;
  background-color: transparent;
}




#main-footer a{
  color: var(--subcolor);
}

/* 強調箇所 */
span.point {
  /* background: linear-gradient(transparent 70%, yellow 50%); */
  color: var(--accentred);
}

/* hover-effect-img */
.hover-img {
  width: 800px;
  height: 600px;
  position: relative;
  top: 35%;
  left: 0;
  /* transform: translate(-50%, -50%); */
  /* z-index: 1; */
}

.hover-img-title {
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: var(--accentred);
  /* font-family: "Cosi Azure"; */
  /* font-size: 84px; */
  font-size: 4rem;
}

.hover-img-title .letter {
  display: inline-block;
  opacity: 0;
}

.hover-img-access{
  width: auto;
  height: 400px;
}

/* Main slider part */

.slider {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  position: relative;
}

.rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.rgbKineticSlider canvas {
  
  position: relative;
 
  display: flex;
  /* top: 50vh; */
  /* left: 50vw; */
}

#outstanding-text {
  position: absolute;
  top: 30vh;
  left: 30vh;
  z-index: 1;
}

#outstanding-text-mobile {
  z-index: 2;
  position: absolute;
  top: 30vh;
  left: 10vh;
  display: none;
}
#outstanding-text-mobile h1{
  font-family: var(--enfont);
  font-weight: 100;
  font-size: 3rem;
  color:var(--accentred);
  
}

.slider nav a {
  text-decoration: none;
  position: absolute;
  top: 40vh;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 3px;
  padding-left: 3px;
  transition: 0.3s;
  background: var(--darkcolor);
  color: var(--basecolor);
}
.slider nav a i {
  font-size: 1rem;
}



.slider nav a.next {
  right: 0vw;
  text-decoration: none;
}

.slider nav a.prev {
  left: 0vw;
  text-decoration: none;
}


@media screen and (max-width:52em) {
  
  .slider {
    width: 100%;
    height: 80vh;
    margin-bottom: 20vh;
    text-transform: uppercase;
    position: relative;
  }

  .rgbKineticSlider {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-size: cover;
  }
  
  .slider nav a{
      /* top:auto; */
      /* bottom: 3rem; */
      top: 30vh;
  }

  #outstanding-text {
    display: none;
  }
  #outstanding-text-mobile {
    display: inline-block;
  }

  .timeline {
    font-size: 1rem;
  }
  .gone-td {
    display: none;
  }

  .small-text {
    font-size: 0.7rem;
  }
} 



/* 3D-paper-btn */
/* https://codepen.io/ashleynolan/pen/djpCG */

a.btn-3d:hover {
  color: red;
}
.btn-3d {
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  
  background-color: #fff;
  border: 1px solid #ccc;

  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  transform-style: flat;
  transition: all 250ms ease-out;
  
}


.btn-3d:before,
  .btn-3d:after {
      content: "";
      position: absolute;
      z-index: -2;
    	transition: all 250ms ease-out;
  }

/* Paper effect – slightly raised off background */
.paper {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}
 
  .paper-curl-right:before,
  .paper-curl-right:after {
    bottom: 12px;
    width: 50%;
    height: 55%;
    max-width: 200px;
    max-height: 100px;
	 box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.6);
  }
  .paper-curl-right:before {
    left: 10px;
  }
  .paper-curl-right:after {
    right: 10px;
  }
  
 
    .paper-curl-right:hover:before,
    :after {
      box-shadow: 1px 8px 12px rgba(31, 31, 31, 0.8);
    }
    .paper-curl-right:hover:before {
      transform: skew(-8deg) rotate(-3deg);
      text-decoration: none;
    }
    .paper-curl-right:hover:after {
      transform: skew(8deg) rotate(3deg);
      text-decoration: none;
    }
  

/* .paper-curl {
  &:hover {
    border-radius: 0 0 40% 40% / 0 0 30% 30%;
  }
} */

  .paper-curl-right:before {
    display: none;
  }
  
  .paper-curl-right:hover {
    border-radius: 0 0 40% 0 / 0 0 30% 0;
    text-decoration: none;
	}