:root {
  --basecolor: #f2ecd8;
  --accentblue: #3b848c;
  --accentred: #e32f38;
  --subcolor: #d9cdbf;
  --darkcolor: #260202;
  --mainfont: ta-kotodama-r, sans-serif;

  font-weight: 400;
  
  font-style: normal;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  background-color: var(--darkcolor);
  font-family: var(--mainfont);
}

/* .navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #fff 3px solid;
} */


#home-heading {
  position: relative;
  min-height: 100vh;
  background: url('../img/bed.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--accentblue);
}

#home-heading p {
  line-height: 250%;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}


/* タイムライン */
.project-title h1 {
  font-weight: 300;
}

.project-categ {
  font-weight: lighter;
}

.cursor {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  background: url('../img/distance.jpg') no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
  display: none;
}

.whole {
  width: 80%;
  margin: 180px auto;
  height: 100%;
}

.project {
  border-bottom: 1px solid rgba(85, 31, 31, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: var(--accentblue);
  /* mix-blend-mode: difference; */
}


/* corona warning part */
.corona-img {
  /* width: 20vw;
  height: 20vh;
  max-width: 25%; */
  width: 200px;
  height: 200px;
}


.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }


#main-footer {
  background: #000;
  color: #fff;
}





/* Main slider part */

.slider {
  width: 100%;
  height: 100vh;
  text-transform: uppercase;
  position: relative;
}

.rgbKineticSlider {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-size: cover;

}

.rgbKineticSlider canvas {
  /* position: absolute; */
  position: relative;
  /* display: block; */
  display: flex;
  top: 50vh;
  left: 50vw;
}

#outstanding-text {
  position: absolute;
  top: 30vh;
  left: 30vh;
  z-index: 1;
}

#outstanding-text-mobile {
  z-index: 2;
  position: absolute;
  top: 30vh;
  left: 10vh;
  display: none;
}
#outstanding-text-mobile h1{
  font-family: "Monument Extended";
  font-weight: 100;
  font-size: 3rem;
  color: red;
  
}

.slider nav a {
  text-decoration: none;
  position: absolute;
  top: 46vh;
  z-index: 1;
  padding: 20px;
  transition: 0.3s;
  /* background: #000; */
  color: var(--accentred);
}



.slider nav a.next {
  right: 10vw;
  text-decoration: none;
}

.slider nav a.prev {
  left: 10vw;
  text-decoration: none;
}


@media screen and (max-width:52em) {

  .slider nav a{
      top:auto;
      bottom: 3rem;
  }

  #outstanding-text {
    display: none;
  }
  #outstanding-text-mobile {
    display: inline-block;
  }
} 